<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MINI COOPER</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body>
    <header class="nav-container">
      <div class="first-nav-item">
          <a title="MINI.ca" href="/" class="brand ga-tracker" data-parent="ClickTrack" data-object="National-Navigation-Logo">
              <img src="./images/logo.png" class="img-responsive" alt="MINI Logo">
          </a>
      </div>
  </header>

    <main id="app">
      <nav id="character-nav">
        <ul class="characters">
          <theherothumb
            @loadlbdata="loadLightbox"
            v-for="hero in heroData"
            :hero="hero"
          ></theherothumb>
        </ul>
      </nav>


      <!-- start lightbox-->
      <article>


          <img id="main-logo" src="images/logo-2.png" alt="mini logo">

        <h3>Choose Your Car!</h3>
        <p>Use your mouse to hover / click to discover more about each car.</p>
      </article>

      <thelightbox
        @closelightbox="this.showLB = false"
        v-if="showLB"
        :hero="lbData"
      ></thelightbox>
      <!-- end lightbox-->
    </main>
    <!-- make this a sticky footer so it's always at the bottom-->
    <footer class="sticky_footer">
      <h3>All Images &copy; Mini Cooper</h3>
    </footer>

    <!-- lightbox component goes here -->

    <!-- end lightbox component -->

    <!-- load script tags at the bottom -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js" type="module" defer></script>
  </body>
</html>
